.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.vscode/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src/assets/video/
dump.rdb
# http://192.168.1.136:8888/